.spots-index{
    top:3.92vh;
    position: relative;
    width:82.5vw;
    left:8vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.26vw;
    grid-row-gap: 4.13vh;
    font-family: 'Roboto', sans-serif;
    color:#222222;
}

.card-holder{
    height: 40vh;
    width: 15.82vw;
}

.spot-card-img{
    width: 15.82vw;
    height: 30vh;
    border-radius: 3.31vh;
    object-fit: cover;
}

.my-table-img-text img{

}

div.index-header-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.index-header{
    margin:0px;
    font-family: 'Nurito', sans-serif;
    font-weight: 600;
    color:#767676;
}

h2.index-header-top{
    margin:0px;
    font-family: 'Nurito', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

h2.index-header-down{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}
