.spots-index{
    top:9.92vh;
    position: relative;
    width:82.5vw;
    left:8vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.26vw;
    grid-row-gap: 4.13vh;
    font-family: 'Roboto', sans-serif;
    color:#222222;
}

.card-holder{
    height: 40vh;
    width: 15.82vw;
}

.spot-card-img{
    width: 15.82vw;
    height: 30vh;
    border-radius: 3.31vh;
}

.my-table-img-text img{
    width: 5.04vw;
    height:9.91vh;
}
