.header-bar{
    border-bottom: 0.1rem solid #ebebeb;
    font-family: 'Nunito', sans-serif;
    font-size: 3.18vh;
    height:8.26vh;
    color:  #ff385c;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
}

.header-bar.main{
    width:100%;
}

.header-bar.sub{
    width:100%;
}

header{
    border-bottom: 0.1rem solid #ebebeb;
}


.icon-nav{
    color: inherit;
    text-decoration: inherit;
}

.icon-holder{
    padding-left: 7.06vw;
    justify-self: flex-start;
    margin-right: auto;
}

.icon-text{
    font-weight:900;
}

.fa-cat{
    padding:0.5vh;
}


.user-button{
    justify-self:flex-end;
    margin-left: auto;
    height: 4.34vh;
    width: 4.05vw;
    border: 1px solid #ebebeb;
    border-radius: 2.17vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.83vh;
    color: #717171;
}

.user-button-icon{
    font-size: 3vh;
}

.user-button-text{
    font-size: 1.65vh;
}

.menu-holder {
    background-color: white;
    position: fixed;
    right:9.46vw;
    height:25.1vh;
    width:12.61vw;
    border: 1px solid #ebebeb;
    top:8.11vh;
    border-radius: 1vh;
    box-shadow: 0.2px -0.2px 1px 1px rgba(177, 177, 177, 0.2);;
}

ul.profile-dropdown{
    list-style-type:none;
    margin:0px;
    padding: 0px;
    font-family: inherit;
}

.user-info{
    text-align: center;
    color:darkslategray;
    font-size: 2vh;
}

ul.profile-dropdown:first-child{
    margin-top: 0.42vh;
}

ul.profile-dropdown button{
    background-color: transparent;
    border: none;
    font-size: 1.65vh;
    height:4.34vh;
    width:12.61vw;
    text-align: left;
    padding-left: 0.84vw;
    font-family: inherit;
}

ul.profile-dropdown button:hover{
    background-color: rgba(177, 177, 177, 0.2);
}

.user-form{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.user-form input{
    font-family: inherit;
    height: 100%;
    width: 100%;
}

.user-form button{
    font-family: inherit;
}

.user-logsign-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.65vh;
    font-weight: bold;
    color:darkblue;
}

.header-bar.sub .icon-holder{
    padding-left: 23.8125rem;
}

.header-bar.sub .user-button{
    margin-right: 23.8125rem;
}
