.header-bar{
    border-bottom: 0.1rem solid #ebebeb;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    height:5rem;
    color:  #ff385c;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
}

.header-bar.main{
    width:100%;
}

.header-bar.sub{
    width:100%;
}

header{
    border-bottom: 0.1rem solid #ebebeb;
}


.icon-nav{
    color: inherit;
    text-decoration: inherit;
}

.icon-holder{
    /* padding-top: 1rem; */
    padding-left: 8.4rem;
    justify-self: flex-start;
    margin-right: auto;
}

.icon-text{
    font-weight:900;
}

.fa-cat{
    padding:0.3rem;
}


.user-button{
    justify-self:flex-end;
    margin-left: auto;
    height: 2.625rem;
    width: 4.8125rem;
    border: 1px solid #ebebeb;
    border-radius: 1.3125rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    color: #717171;
}

.user-button-icon{
    font-size: 1.8125rem;
}

.user-button-text{
    font-size: 1rem;
}

.menu-holder {
    background-color: white;
    position: fixed;
    right:180px;
    height:243px;
    width:240px;
    border: 1px solid #ebebeb;
    top:4.3rem;
    border-radius: 0.6rem;
    box-shadow: 0.2px -0.2px 1px 1px rgba(177, 177, 177, 0.2);;
}

ul.profile-dropdown{
    list-style-type:none;
    margin:0px;
    padding: 0px;
    font-family: inherit;
}

.user-info{
    text-align: center;
    color:darkslategray;
    font-size: 1.2rem;
}

ul.profile-dropdown:first-child{
    margin-top: 8px;
}

ul.profile-dropdown button{
    background-color: transparent;
    border: none;
    font-size: 16px;
    height:42px;
    width:240px;
    text-align: left;
    padding-left: 1rem;
    font-family: inherit;
}

ul.profile-dropdown button:hover{
    background-color: rgba(177, 177, 177, 0.2);
}

.user-form{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.user-form input{
    font-family: inherit;
    height: 100%;
    width: 100%;
}

.user-form button{
    font-family: inherit;
}

.user-logsign-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color:darkblue;
}

.header-bar.sub .icon-holder{
    padding-left: 23.8125rem;
}

.header-bar.sub .user-button{
    margin-right: 23.8125rem;
}
