#modal{
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}

#modal-background{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(162, 162, 162, 0.7);
}

#modal-content{
    position: absolute;
    background-color: white;
    border-radius: 1.322vh;
    z-index: 7;
    top:9.3vh;
    display: flex;
    flex-direction: column;
    row-gap: 1.65vh;
    align-items: center;
    height:67.7vh;
    width:28.6vw;
}

#modal-content p{
    text-align: center;
    border-bottom: 1px solid #e8e5e5;
    padding-bottom: 1.65vh;
    font-weight: 800;
    width: 100%;
}


.user-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.user-form button{
    margin-top: 5.61vh;
}

.form-welcome{
    align-self: flex-start;
    padding-left: 0.84vw;
    margin-top: -3.31vh;
}

.user-form-input-holder{
    border:1px solid #AAAAAA;
    display: flex;
    flex-direction: column;
    border-radius: 1.65vh;
    z-index: 2;
    padding:0.331vh;
    width:24vw;
}

.user-form-input-holder label{
    border:none;
    height:3.31vh;
    border-top: 1px solid #AAAAAA;
    width:100%
}

.user-form-input-holder input{
    border:none;
    background-color: transparent;
    width:100%;
    font-size: 1.49vh;
    font-weight: 600;
    outline: none;
}

.user-form-input-holder label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form-input-holder label:first-child{
    border-top:none;
}

.label-img-upload{
    font-size: 13px;
    margin-left: 2rem;
    margin-top:1rem;
}

.user-form ul{
    align-self: start;
    margin-left:0.841vw;
}

.user-form button{
    background-color: #dd1262;
    font-size: 0.84vw;
    font-weight: 800;
    color:whitesmoke;
    width: 24vw;
    height:5vh;
    border-radius: 0.826vh;
    cursor:pointer
}
