/* TODO Add site wide styles */
body{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: inherit;
    color:inherit;
}



ul{
    list-style-type:none;
    margin:0px;
    padding: 0px;
    font-family: inherit;
}

button {
    border:none;
    background-color: transparent;
    font-family: inherit;
    font-size:inherit;
}

.header-bar.main button.user-button{
    margin-right: 7.35vw;
}

div.spot-info-holder{
    margin-top:0.82vh;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.45vh;
}

div.spot-info-left{
    margin-right:auto;
}

div.spot-card-name{
    font-weight: 800;
}

div.spot-card-city-state, div.spot-card-country{
    color:#7a7391;
    font-weight: 500;
}

div.spot-card-review{
    font-weight: 800;
}

div.spot-card-price{
    margin-top:0.5rem
}

div.spot-card-price span{
    font-weight: 800;
}

.header-bar{
    z-index: 5;
}

/* #modal-background{
    z-index: 7;
} */



.user-form button{
    background-color: #dd1262;
    font-size: 1.65vh;
    font-weight: 800;
    color:whitesmoke;
    width: 24vw;
    height:5vh;
    border-radius: 0.42vw;
    cursor:pointer
}

.catbnb-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #AAAAAA;
    border-radius: 0.42vw;
    align-items: center;
}

.catbnb-form h2{
    margin: 1.65vh 0.84vw;
}

.booking-form-input-button{
    background-color: #dd1262;
    font-size: 1.65vh;
    font-weight: 800;
    color:whitesmoke;
    border-radius: 0.83vh;
    cursor:pointer;
    border:none;
    line-height:3.3vh;
    margin-top: 1.65vh;
    font-family: 'Nunito', sans-serif;
    width:90%;
    margin-bottom:1.65vh;
}

.booking-form input:not(.booking-form-input-button){
    width:80%;
    color: #888888;
}

.booking-form label{
    align-self: flex-start;
    margin-left: 0.84vw;
    font-weight: 600;
}

.detail-info-current-bookings li{
    margin-top: 1.32vh;
}

.form-page-holder{
    height:90vh;
    display: flex;
    width:100vw;
}

.form-leftside-bg{
    background: url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png) no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-leftside-bg h1{
    color: whitesmoke;
    font-size: 5vh;
}

.cat-form-wrapper{
    width: 50%;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-form{
    padding-top: 0;
    height:90vh;
    width:27.1vw;
}

.spot-form label{
    width:75%;
    height:4.13vh;
}

.spot-form input:not(.spot-submit){
    width:100%;
    height:100%;
}

.spot-submit{
    height:4.13vh;
    margin-top: 6.61vh;
    width:30%;
    align-self: flex-start;
    border:none;
    color:white;
    background-color: #111111;
    border-radius: 0.83vh;
    margin-left: 1.26vw;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.spot-form h2{
    margin-top: 0vw;
    margin-bottom: 3vh;
}

.close-booking-form-button{
    position:relative;
    margin-left: 100%;
    font-size: 2.5vh;
    font-weight: 600;
    cursor: pointer;
}

.sub-page-holder{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.my-stuff-table{
    margin-top:1vh;
}

.list-page-header{
    margin-left: 4vw;
}


.my-stuff-table img{
    padding-right: 2vw;
    width: 2.52vw;
    height:4.955vh;
}

.my-table-img-text span{
    line-height: 100%;
    font-weight: 600;
}

.my-table-img-text a{
    display: flex;
    align-items: center;
}

.my-table-header{
    font-weight: 600;
}

.table-edit{
    text-align: center;
}

.table-edit a {
    background-color: #dd1262;
    font-size: 2vh;
    font-weight: 800;
    color:whitesmoke;
    border-radius: 0.83vh;
    cursor:pointer;
    border:none;
    line-height:3.3vh;
    margin-top: 1.65vh;
    font-family: 'Nunito', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;

}

.my-stuff-table td{
    border-bottom:1px solid #999999;
    padding-top: 1vh;
    padding-bottom: 1vh;
}


table.my-stuff-table{
    border-spacing: 0;
    max-width: 100%;
}

.sub-page-holder{
    width:70vw;
    margin-left: 14.5vw;
}

.booking-ad-header{
    width: 100%;
    height: 39vh;
    border: 1px solid #AAAAAA;
    margin-top: 3vh;
    border-radius: 1vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
    white-space: nowarp;
}

.booking-content-title{
    margin-top: 5vh;
}

.booking-ad-left-wrap{

    height: 100%;
    grid-column: 1/2;
}

.booking-ad-right-wrap{

    height:100%;
    grid-column: 2/3;
}

.booking-ad-left-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2vh;
}

.booking-left-icon{
    height:5vw;
    width:5vw;
    margin-left: 2vw;
}

.booking-left-icon-img{
    max-width: 100%;
    max-height: 100%;
}

.booking-left-title{
    font-size: 4vh;
    margin-left: 2vw;
    line-height: 4vh;
}

.booking-left-text{
    font-size: 2.5vh;
    margin-left: 2vw;
    margin-top:-1vh;
    color:#777777;
}

.booking-left-button a{
    background-color: #dd1262;
    font-size: 2vh;
    font-weight: 800;
    color:whitesmoke;
    border-radius: 0.83vh;
    cursor:pointer;
    border:none;
    line-height:3.3vh;
    margin-top: 1.65vh;
    font-family: 'Nunito', sans-serif;
    padding:1vh 1vw;
    margin-left: 2vw;
}

.booking-ad-right-wrap{
    max-width:100%;
    max-height: 39vh;
    width:100%;
    height: 100%;
    display: flex;
}

.booking-right-img{
    max-width:100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 1vw;
    object-fit: cover;
}



.spot-left-icon{
    height: 5vw;
    width: 5vw;
    margin-left: 1vw;
}

form ul{
    color: #dd1262;
    font-weight: 600;
    font-size: 1.3vh;
    margin-left:1vw;
    width:80%;
    margin-bottom: 1vh;
}

.table-edit button, .td-delete-button{
    cursor: pointer;
}

.table-edit button:disabled{
    cursor: not-allowed;
}

.td-delete-button:disabled {
    cursor:not-allowed;
}

span.log-in-warning{
    font-size: 3vh;
    margin-top: 3vh;
    text-align: center;
}

.spot-card-name, .spot-card-city-state, .spot-card-price{

}

.spot-card-review{

}

.detail-info-right-booking h1{
    margin-left: 1.5vw;
}

.spot-form a{
    color:#888888;
    align-self: flex-end;
    margin-right: 2vw;
}

input.error{
    color:#dd1262;
    font-weight: 600;
}

.typing-h2{
    display: inline;
    margin-top:-2vh;
}

.detail-info-description{
    font-size: 2vh;
    margin-top: 2vh;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 1vh;
    padding-bottom:1vh;
    font-family: 'Nunito', sans-serif;
}

div.not-found{
    display: flex;
    justify-content: center;
    margin-bottom: 12.3rem;
}
