/* TODO Add site wide styles */
body{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: inherit;
    color:inherit;
}

.my-stuff-table td{
    border:1px solid #999999;
    padding: 2rem;
}
table.my-stuff-table{
    border-spacing: 0;
}

ul{
    list-style-type:none;
    margin:0px;
    padding: 0px;
    font-family: inherit;
}

button {
    border:none;
    background-color: transparent;
    font-family: inherit;
    font-size:inherit;
}
