/* --- star rating --- */

.star-rating-container {
    /* unicode-bidi: bidi-override; */
    direction: rtl;
    padding: 5px 30px;
}



.radio-label-container>label:hover:before,
.radio-label-container>label:hover~label:before {
    /* content: "\2605"; */
    content: "★";
    position: absolute;
}
/*
.radio-label-container>label:focus:before,
.radio-label-container>input:checked+label:before {
    content: "\2605";
    position: absolute;
} */

/* .radio-label-container>label:selection:after,
.radio-label-container>label:checked:before {
    content: "\2605";
    position: absolute;
} */

#r1,
#r2,
#r3,
#r4,
#r5 {
    display: none;
}

.rating-label,
.rating-label-all {
    cursor: pointer;
    transition: color 200ms;
    /* size: 200px;
    opacity: 1; */
}

.rating-label-all {
    position: absolute;
}
